<html>
<head>
	<title>GIS</title>
	<script type="text/javascript" src="../jquery-1.7.1.min.js"></script>
</head>
<script>
	$(document).ready(function(){
		$('#submit').click(function(){
			var myurl = '/graf'+
				 "?graph_type="+$('select :selected').val() +
				 "&node_num="+$('#node_num').val()+
				 "&mean_degree="+$('#degree').val()+
				 "&beta="+$('#beta').val();

			$.ajax({
				url: myurl,
				context: document.body,
				success: function(data, textStatus){
					$("#graf").html('<img id="graf" src="/graf.jpeg"/>');
					$("#result").html(data);
				}
			});
		});
	});
</script>
<style type="text/css">
#graf{
	z-index:-1;
	position:absolute;
	top:20px;
	left:0p;
	max-width:500px;
	max-height:500px;
}
#kontrolki{
	float:right;
}
</style>
<body>
	<div id="kontrolki">
		<div>
			<select name="typ-sieci">
				<option value="losowa" >Random Network</option>
				<option value="euklides">Euclidean Network</option>
				<option value="bezskalowa">Scale-free Network</option>
				<option value="maly-swiat">Small World Network</option>
			</select>
		</div>
		<div>
			nodes number <input id="node_num" type="number" value="100">
		</div>
		<div>
			mean degree <input id="degree" type="number" value="4">
		</div>
		<div>
			beta <input id="beta" type="number" value="0.01">
		</div>
		<input id="submit" type="submit"/>
		<p id="result">

		</p>
	</div>
	<div id="graf">
	</div>
</body>
</html>
