<html>
<head>
	<title>GIS</title>
	<script type="text/javascript" src="../jquery-1.7.1.min.js"></script>
</head>
<script>
	$(document).ready(function(){
		$('#submit').click(function(){
			var myurl = '/graf'+
				 "?graph_type="+$('#typ-sieci :selected').val() +
				 "&draw_engine="+$('#draw_engine :selected').val()+
				 "&node_num="+$('#node_num').val()+
				 "&mean_degree="+$('#degree').val()+
				 "&beta="+$('#beta').val();
			if($('#neighbourhood:checked').val() != undefined){
				myurl +="&neighbourhood=1"
			}
			if($('#showedges:checked').val() != undefined){
				myurl +="&showedges=1"
			}
			var drawGraph=false;
			if($('#drawgraph:checked').val() != undefined)
			{
				var drawGraph=true;
				myurl +="&drawgraph=1"
			}
			$.ajax({
				url: myurl,
				context: document.body,
				success: function(data, textStatus){
					if(drawGraph){
						$("#graf").html('<img id="graf" src="/graf.jpeg"/>');
					}else{
						$("#graf").html("");
					}

					$("#result").html(data);
				}
			});
		});
	});
</script>
<style type="text/css">
#graf{
	z-index:-1;
	position:absolute;
	top:0px;
	left:0p;
	max-width:500px;
	max-height:500px;
}
#result{position:absolute;top:500px;}
#kontrolki{
	float:right;
}
</style>
<body>
	<div id="kontrolki">
		<div>
			<select id="typ-sieci" name="typ-sieci">
				<option value="losowa" >Random Network</option>
				<option value="euklides">Euclidean Network</option>
				<option value="bezskalowa">Scale-free Network</option>
				<option value="maly-swiat">Small World Network</option>
			</select>
		</div>
		<div>
			nodes number <input id="node_num" type="number" value="100">
		</div>
		<div>
			mean degree <input id="degree" type="number" value="4">
		</div>
		<div>
			beta <input id="beta" type="number" value="0.01">
		</div>
		<input id ="neighbourhood" type="checkbox" name="neigbourhood" value="1" /> Neighbourhood matrix<br />
		<div>
			<input id ="drawgraph" type="checkbox" name="drawgraph" value="1" /> Draw graph
			<select id="draw_engine" name="rysowanie">
				<option value="neato" >neato</option>
				<option value="twopi" >twopi</option>
				<option value="circo">circo</option>
			</select>
		</div>
		<input id ="showedges" type="checkbox" name="showedges" value="1" /> List edges<br />

		<input id="submit" type="submit"/>
	</div>
	<div id="graf">
	</div>
	<div id="result">
	</div>
</body>
</html>
